@model IEnumerable<SAPCS.Models.Servico>

@{
    ViewData["Title"] = "Serviços";
}

<div class="container" style="margin: 12px">
    <h1>Serviços</h1>
    <p>
        <a class="btn btn-principal" role="button" asp-action="Create">&#43 Novo</a>
    </p>

    <p class="reexibir">
        Reexibir colunas:
        <button id="rv-0" class="reexibir-vis btn btn-secundario" data-column="0">@Html.DisplayNameFor(model => model.NomeServ)</button>
        <button id="rv-1" class="reexibir-vis btn btn-secundario" data-column="1">@Html.DisplayNameFor(model => model.Seguradora)</button>
        <button id="rv-2" class="reexibir-vis btn btn-secundario" data-column="2">@Html.DisplayNameFor(model => model.StatusServ)</button>
    </p>

    <table class="table" style="width: 100%">
        <thead class="table-head">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeServ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seguradora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusServ)
                </th>
                <th></th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th colspan="1" rowspan="1">
                    <a id="rv-0" class="ocultar-vis btn" data-column="0">@Html.DisplayNameFor(model => model.NomeServ)</a>
                </th>
                <th colspan="1" rowspan="1">
                    <a id="rv-1" class="ocultar-vis btn" data-column="1">@Html.DisplayNameFor(model => model.Seguradora)</a>
                </th>
                <th colspan="1" rowspan="1">
                    <a id="rv-2" class="ocultar-vis btn" data-column="2">@Html.DisplayNameFor(model => model.StatusServ)</a>
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

@section Stylesheets{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" />
}

@section Scripts{
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
    <script src="~/js/padroesDtTable.js"></script>
    <script src="~/js/extraDtTable.js"></script>

    <script>
        var tabela;
        const editLink = '@Url.Action("Edit", "Servicos")/';
        const detailsLink = '@Url.Action("Details", "Servicos")/';
        const deleteLink = '@Url.Action("Delete", "Servicos")/';
        var minDate;
        var maxDate;
        var exibirTodosRegistros = true;

        $(document).ready(function () {
            $("button.reexibir-vis").hide();
            $("p.reexibir").hide();

            tabela = $(".table").DataTable({
                scrollX: true,
                processing: true,
                language: traducaoDataTable,
                pagingType: "simple_numbers",
                lengthMenu: padraoLengthMenu,
                ajax: {
                    "type": "GET",
                    "url": "@Url.Action("getServicos", "Servicos")",
                    "datatype": "JSON"
                },
                columns: [
                    { "data": "nomeServ" },
                    { "data": "seguradora.nomeSegur" },
                    { "data": "statusServ" },
                    {
                        "data": "id", render: renderizarBotoesCRUD
                    }
                ],
                //order: [[0, 'desc']],
                preDrawCallback: padraoPreDrawCallback,
                drawCallback: padraoDrawCallback,
                fnInitComplete: padraoFnInitComplete
            });

            $.fn.DataTable.ext.pager.numbers_length = 7;

            $('a.ocultar-vis').on('click', ocultarVisualizacaoColuna);
            $('button.reexibir-vis').on('click', reexibirVisualizacaoColuna);
            $('#reexibir-todos').on('click', reexibirTodasColunas);
        });
    </script>
}